.show-page{
    padding: 2rem 12rem;
  
}

.show-page .reviews{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1rem;
}

@media(max-width : 720px){
    .show-page{
        padding: 2rem 3rem;
    }
}

@media(max-width : 480px){
    .show-page{
        padding: 1rem 1rem;
    }
}

