.home-card {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 300px;
    /* background-color: #FFFFF7; */
     box-shadow: 1px 1px 3px rgba(128, 128, 128, 0.5);  
}



.home-card img {
    border-radius: 0.5rem 0.5rem 0 0;
   
    width: 100%;
    object-fit: cover;
}

.card-title {

    font-weight: 600;
}

.home-page {
    margin-top: 4rem;
}

.home-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.home-card:hover{

      cursor: pointer;
      transform: translatey(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    
}