:root {
  --primary: #fe4b4d;
  --secondary: #3333ff;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* full screen height */
}

.main-page {
  flex: 1; /* take remaining space */
}

.eye-btn{
   position: absolute;
  right: 26%;
  top: 69%;
}
